Q1: Write a function to find the most frequent destination of a user.

In [18]:
import pandas as pd

# Sample data as list of dictionaries
data = [
    {'user_id': 'U1', 'destination': 'Delhi'},
    {'user_id': 'U2', 'destination': 'Mumbai'},
    {'user_id': 'U1', 'destination': 'Delhi'},
    {'user_id': 'U1', 'destination': 'Bangalore'},
    {'user_id': 'U2', 'destination': 'Mumbai'},
    {'user_id': 'U1', 'destination': 'Delhi'},
    {'user_id': 'U2', 'destination': 'Bangalore'},
    {'user_id': 'U3', 'destination': 'Pune'},
    {'user_id': 'U3', 'destination': 'Pune'},
    {'user_id': 'U3', 'destination': 'Delhi'}
]

# Create DataFrame
df = pd.DataFrame(data)

In [19]:
grouped = df.groupby(by = ['user_id', 'destination']).value_counts()
grouped = grouped.reset_index()

grouped['rnk'] = grouped.groupby('user_id')['count'].rank(method = 'dense', ascending = False)
grouped[grouped['rnk'] == 1]

  user_id destination  count  rnk
1      U1       Delhi      3  1.0
3      U2      Mumbai      2  1.0
5      U3        Pune      2  1.0

In [23]:
#second way
import pandas as pd

# Sample data
data = {
    'user_id': ['U1', 'U2', 'U1', 'U1', 'U2', 'U1', 'U2', 'U3', 'U3', 'U3'],
    'destination': ['Delhi', 'Mumbai', 'Delhi', 'Bangalore', 'Mumbai', 'Delhi', 'Bangalore', 'Pune', 'Pune', 'Delhi']
}

df = pd.DataFrame(data)

# Function to find most frequent destination for a user
def most_frequent_destination(df, user_id):
    user_data = df[df['user_id'] == user_id]
    if user_data.empty:
        return None
    return user_data['destination'].mode().iloc[0]

# Example usage
print(most_frequent_destination(df, 'U1'))  # Output: Delhi

Delhi

Q2: Implement a moving average for time series data.

In [41]:
import pandas as pd

# Sample time series data
data = [
    {'date': '2024-01-01', 'value': 10},
    {'date': '2024-01-02', 'value': 12},
    {'date': '2024-01-03', 'value': 15},
    {'date': '2024-01-04', 'value': 14},
    {'date': '2024-01-05', 'value': 16},
    {'date': '2024-01-06', 'value': 18},
    {'date': '2024-01-07', 'value': 20}
]

df = pd.DataFrame(data)

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace = True)

df['moving_avg_3'] = df['value'].rolling(window=2).mean()
df

            value  moving_avg_3
date
2024-01-01     10           NaN
2024-01-02     12          11.0
2024-01-03     15          13.5
2024-01-04     14          14.5
2024-01-05     16          15.0
2024-01-06     18          17.0
2024-01-07     20          19.0

Q3: Write code to remove outliers from a list using IQR.

In [46]:
data = [10, 12, 14, 15, 15, 16, 17, 18, 100]  # 100 is an outlier

import numpy as np

data = np.array(data)
q1 = np.percentile(data, 25)
q3 = np.percentile(data, 75)

IQR = q3 - q1

lower_bound = q1 - 1.5 * IQR
upper_bound = q3 + 1.5 * IQR

filtered_data = data[(data >= lower_bound) & (data <= upper_bound)]
filtered_data.tolist()

[10, 12, 14, 15, 15, 16, 17, 18]

Q4: Given timestamps of orders, find median delivery time per hour.

In [87]:
data = [
    {"order_id": 1, "order_time": "2023-06-01 10:05:00", "delivery_time": "2023-06-01 10:45:00"},
    {"order_id": 2, "order_time": "2023-06-01 10:15:00", "delivery_time": "2023-06-01 10:50:00"},
    {"order_id": 3, "order_time": "2023-06-01 11:00:00", "delivery_time": "2023-06-01 11:30:00"},
    {"order_id": 4, "order_time": "2023-06-01 11:10:00", "delivery_time": "2023-06-01 11:50:00"},
    {"order_id": 5, "order_time": "2023-06-01 11:45:00", "delivery_time": "2023-06-01 12:20:00"},
    {"order_id": 6, "order_time": "2023-06-01 12:05:00", "delivery_time": "2023-06-01 12:40:00"},
    {"order_id": 7, "order_time": "2023-06-01 12:15:00", "delivery_time": "2023-06-01 12:55:00"},
    {"order_id": 8, "order_time": "2023-06-01 13:00:00", "delivery_time": "2023-06-01 13:35:00"},
    {"order_id": 9, "order_time": "2023-06-01 13:10:00", "delivery_time": "2023-06-01 13:50:00"},
    {"order_id": 10, "order_time": "2023-06-01 13:25:00", "delivery_time": "2023-06-01 14:10:00"},
]

q4_df = pd.DataFrame(data)

In [88]:
q4_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       10 non-null     int64
 1   order_time     10 non-null     object
 2   delivery_time  10 non-null     object
dtypes: int64(1), object(2)
memory usage: 372.0+ bytes

In [89]:
q4_df['order_time'] = pd.to_datetime(q4_df['order_time'])
q4_df['delivery_time'] = pd.to_datetime(q4_df['delivery_time'])

q4_df['delivery_tat'] = ((q4_df['delivery_time'] - q4_df['order_time']).dt.total_seconds())/60
q4_df['order_hour'] = q4_df['order_time'].dt.hour

#calculating median tat per hour
median_tat = (
    q4_df.groupby('order_hour', as_index=False)['delivery_tat']
    .median()
    .rename(columns={'delivery_tat': 'median_delivery_tat'})
)


median_tat

   order_hour  median_delivery_tat
0          10                 37.5
1          11                 35.0
2          12                 37.5
3          13                 40.0

Q5: Given trip data, find top 3 destinations by revenue.

In [90]:
trip_data = [
    {"trip_id": 1, "user_id": "u1", "destination": "A", "revenue": 250},
    {"trip_id": 2, "user_id": "u2", "destination": "B", "revenue": 180},
    {"trip_id": 3, "user_id": "u3", "destination": "A", "revenue": 300},
    {"trip_id": 4, "user_id": "u1", "destination": "C", "revenue": 150},
    {"trip_id": 5, "user_id": "u4", "destination": "B", "revenue": 220},
    {"trip_id": 6, "user_id": "u5", "destination": "D", "revenue": 400},
    {"trip_id": 7, "user_id": "u2", "destination": "A", "revenue": 275},
    {"trip_id": 8, "user_id": "u6", "destination": "C", "revenue": 120},
    {"trip_id": 9, "user_id": "u7", "destination": "B", "revenue": 210},
    {"trip_id": 10, "user_id": "u3", "destination": "D", "revenue": 190},
]

In [ ]:
trip_df = pd.DataFrame(trip_data)
top3_dest = trip_df.groupby(by = 'destination').agg(total_revenue = ('revenue', 'sum')).reset_index()
top3_dest.sort_values(by = 'total_revenue', ascending=False).head(3)

  destination  total_revenue
0           A            825
1           B            610
3           D            590

Q6: Implement a function to simulate surge pricing based on demand/supply ratio.

In [109]:
surge_data = [
    {"timestamp": "2023-06-01 08:00:00", "zone": "A", "demand": 120, "supply": 100},
    {"timestamp": "2023-06-01 08:00:00", "zone": "B", "demand": 80, "supply": 90},
    {"timestamp": "2023-06-01 08:00:00", "zone": "C", "demand": 150, "supply": 75},
    {"timestamp": "2023-06-01 09:00:00", "zone": "A", "demand": 200, "supply": 180},
    {"timestamp": "2023-06-01 09:00:00", "zone": "B", "demand": 60, "supply": 100},
    {"timestamp": "2023-06-01 09:00:00", "zone": "C", "demand": 130, "supply": 60},
    {"timestamp": "2023-06-01 10:00:00", "zone": "A", "demand": 90, "supply": 95},
    {"timestamp": "2023-06-01 10:00:00", "zone": "B", "demand": 110, "supply": 70},
    {"timestamp": "2023-06-01 10:00:00", "zone": "C", "demand": 160, "supply": 80},
]

surge_df = pd.DataFrame(surge_data)

In [115]:
def calculate_surge(demand, supply):
    if supply == 0:
        return 3.0  # cap maximum surge multiplier to avoid division by zero
    
    # gaurd rails: price should noe fall below threshold, and should not increase above a threshold
    surge_multiplier = min(3.0, max(1.0, demand/supply))
    surged_price = surge_multiplier * supply

    return surged_price


surge_df['normal_price'] = surge_df['supply']
surge_df['surged_price'] = surge_df.apply(lambda row: calculate_surge(row['demand'], row['supply']), axis=1)
surge_df

             timestamp zone  demand  supply  normal_price  surged_price
0  2023-06-01 08:00:00    A     120     100           100         120.0
1  2023-06-01 08:00:00    B      80      90            90          90.0
2  2023-06-01 08:00:00    C     150      75            75         150.0
3  2023-06-01 09:00:00    A     200     180           180         200.0
4  2023-06-01 09:00:00    B      60     100           100         100.0
5  2023-06-01 09:00:00    C     130      60            60         130.0
6  2023-06-01 10:00:00    A      90      95            95          95.0
7  2023-06-01 10:00:00    B     110      70            70         110.0
8  2023-06-01 10:00:00    C     160      80            80         160.0

Q7: Write a function to recommend restaurants based on user order history.

In [116]:
# take all those users have ordered at least 2 times
# take those restaurants where user has ordered at least 2 times or rating given is 4 start plus, is not should not be recommmended

order_data = [
    {"user_id": "u1", "restaurant_id": "r1", "order_date": "2024-12-01", "rating": 5},
    {"user_id": "u1", "restaurant_id": "r2", "order_date": "2025-01-05", "rating": 4},
    {"user_id": "u1", "restaurant_id": "r1", "order_date": "2025-02-10", "rating": 5},
    {"user_id": "u1", "restaurant_id": "r3", "order_date": "2025-03-15", "rating": 4},
    {"user_id": "u2", "restaurant_id": "r2", "order_date": "2025-01-20", "rating": 3},
    {"user_id": "u2", "restaurant_id": "r2", "order_date": "2025-02-22", "rating": 4},
    {"user_id": "u2", "restaurant_id": "r4", "order_date": "2025-03-25", "rating": 5},
    {"user_id": "u3", "restaurant_id": "r1", "order_date": "2025-04-01", "rating": 4},
    {"user_id": "u3", "restaurant_id": "r5", "order_date": "2025-04-10", "rating": 5},
    {"user_id": "u3", "restaurant_id": "r5", "order_date": "2025-05-12", "rating": 5},
    {"user_id": "u3", "restaurant_id": "r1", "order_date": "2025-05-20", "rating": 4},
    {"user_id": "u4", "restaurant_id": "r6", "order_date": "2025-06-01", "rating": 2},
    {"user_id": "u5", "restaurant_id": "r2", "order_date": "2025-04-05", "rating": 3},
    {"user_id": "u5", "restaurant_id": "r3", "order_date": "2025-05-18", "rating": 4},
    {"user_id": "u6", "restaurant_id": "r1", "order_date": "2025-06-10", "rating": 5},
    {"user_id": "u7", "restaurant_id": "r7", "order_date": "2025-05-30", "rating": 3},  # One-time user
    {"user_id": "u8", "restaurant_id": "r6", "order_date": "2025-06-12", "rating": 2},  # One-time user
]

recsys_df = pd.DataFrame(order_data)

In [117]:
recsys_df

   user_id restaurant_id  order_date  rating
0       u1            r1  2024-12-01       5
1       u1            r2  2025-01-05       4
2       u1            r1  2025-02-10       5
3       u1            r3  2025-03-15       4
4       u2            r2  2025-01-20       3
5       u2            r2  2025-02-22       4
6       u2            r4  2025-03-25       5
7       u3            r1  2025-04-01       4
8       u3            r5  2025-04-10       5
9       u3            r5  2025-05-12       5
10      u3            r1  2025-05-20       4
11      u4            r6  2025-06-01       2
12      u5            r2  2025-04-05       3
13      u5            r3  2025-05-18       4
14      u6            r1  2025-06-10       5
15      u7            r7  2025-05-30       3
16      u8            r6  2025-06-12       2