Q1: Write a function to find the most frequent destination of a user.

In [18]:
import pandas as pd

# Sample data as list of dictionaries
data = [
    {'user_id': 'U1', 'destination': 'Delhi'},
    {'user_id': 'U2', 'destination': 'Mumbai'},
    {'user_id': 'U1', 'destination': 'Delhi'},
    {'user_id': 'U1', 'destination': 'Bangalore'},
    {'user_id': 'U2', 'destination': 'Mumbai'},
    {'user_id': 'U1', 'destination': 'Delhi'},
    {'user_id': 'U2', 'destination': 'Bangalore'},
    {'user_id': 'U3', 'destination': 'Pune'},
    {'user_id': 'U3', 'destination': 'Pune'},
    {'user_id': 'U3', 'destination': 'Delhi'}
]

# Create DataFrame
df = pd.DataFrame(data)

In [19]:
grouped = df.groupby(by = ['user_id', 'destination']).value_counts()
grouped = grouped.reset_index()

grouped['rnk'] = grouped.groupby('user_id')['count'].rank(method = 'dense', ascending = False)
grouped[grouped['rnk'] == 1]

  user_id destination  count  rnk
1      U1       Delhi      3  1.0
3      U2      Mumbai      2  1.0
5      U3        Pune      2  1.0

In [23]:
#second way
import pandas as pd

# Sample data
data = {
    'user_id': ['U1', 'U2', 'U1', 'U1', 'U2', 'U1', 'U2', 'U3', 'U3', 'U3'],
    'destination': ['Delhi', 'Mumbai', 'Delhi', 'Bangalore', 'Mumbai', 'Delhi', 'Bangalore', 'Pune', 'Pune', 'Delhi']
}

df = pd.DataFrame(data)

# Function to find most frequent destination for a user
def most_frequent_destination(df, user_id):
    user_data = df[df['user_id'] == user_id]
    if user_data.empty:
        return None
    return user_data['destination'].mode().iloc[0]

# Example usage
print(most_frequent_destination(df, 'U1'))  # Output: Delhi

Delhi

Q2: Implement a moving average for time series data.

In [41]:
import pandas as pd

# Sample time series data
data = [
    {'date': '2024-01-01', 'value': 10},
    {'date': '2024-01-02', 'value': 12},
    {'date': '2024-01-03', 'value': 15},
    {'date': '2024-01-04', 'value': 14},
    {'date': '2024-01-05', 'value': 16},
    {'date': '2024-01-06', 'value': 18},
    {'date': '2024-01-07', 'value': 20}
]

df = pd.DataFrame(data)

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace = True)

df['moving_avg_3'] = df['value'].rolling(window=2).mean()
df

            value  moving_avg_3
date
2024-01-01     10           NaN
2024-01-02     12          11.0
2024-01-03     15          13.5
2024-01-04     14          14.5
2024-01-05     16          15.0
2024-01-06     18          17.0
2024-01-07     20          19.0

Q3: Write code to remove outliers from a list using IQR.

In [46]:
data = [10, 12, 14, 15, 15, 16, 17, 18, 100]  # 100 is an outlier

import numpy as np

data = np.array(data)
q1 = np.percentile(data, 25)
q3 = np.percentile(data, 75)

IQR = q3 - q1

lower_bound = q1 - 1.5 * IQR
upper_bound = q3 + 1.5 * IQR

filtered_data = data[(data >= lower_bound) & (data <= upper_bound)]
filtered_data.tolist()

[10, 12, 14, 15, 15, 16, 17, 18]